@import '/assets/styles/reset.css';
@import '/assets/styles/tokens.css';

/* Estilização do Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: rgba(168, 165, 143, 0.565);
  backdrop-filter: blur(20px);
  padding: 15px 50px;
  margin: 0;

  box-shadow: var(--shadow-md);
  z-index: 1000;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header a {
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  color: var(--link-color);
}

.nav-links a:hover {
  color: var(--link-hover);
  cursor: pointer;
}

.header .nav-logo {
  font-size: var(--font-size-20);
  font-weight: 600;
  color: var(--color-text-black);
}

.header .btn-cta {
  border-radius: var(--radius-full);
  background-color: var(--btn-primary);
  box-shadow: var(--shadow-md);
  transition: transform 0.2s ease;
}

.header .btn-reserve {
  display: block;
  padding: 10px 20px;
  color: var(--color-text-white);
  font-weight: 400;
}

.header .btn-cta:hover {
  transform: translateY(-2px);
}
